.mh-100vh {
    min-height: 100vh;
}
@media (min-width: 992px) {
    .w-lg-75 {
        width: 75%;
    }
}

@media (min-width: 992px) {
    .rounded-lg-0 {
        border-radius: 0 !important;
    }
}

@media (min-width: 1200px) {
    .w-xl-50 {
        width: 50%;
    }
}